<!-- <div class="game-cards">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title>Game Title</mat-card-title>
        <mat-card-subtitle>Genre: Action</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://via.placeholder.com/300"
        alt="Game Image"
      />

      <mat-card-content>
        <p>
          Exciting game description goes here. This is where you can attract
          players with an engaging description.
        </p>

      </mat-card-content>
      
      <mat-card-actions>
        <button class="custom-button"mat-button color="primary">Add to Cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<button class="custom-button" mat-fab color="primary">
    <mat-icon>add</mat-icon>
    
  </button>
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
  
/>
-->
    



    
    
    
    
    <div id="game-component">
        <p>Name: {{game.name}}</p>
        <p>Category: {{game.category}}</p>
        <p>Level:{{game.level}}</p>
        <p>Comments:   {{game.comments}}</p>
        <p>Content:{{game.content}}</p>
        <p><strong>Date of Release:</strong> {{game.dateOfRelease}}</p>
        <p><strong>title:</strong> {{game.title}}</p>
        
    </div>
    <br>
    
<!-- pridať button ktory bude napojeny na funkciu , zmeniť stav hry na v košiku -->
    